{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block static_files %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
{% block page_content %}
        <link rel='stylesheet' href="{% static "main/accounts/reset_password.css" %}">
    <div id="change">
        <div class="container">
            <div id="change-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="change-form" class="form" action="{% url 'change password' %}" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info" style="color:#0EA7C6;" >Change password</h3>
                            {{ form.old_password.errors }}
                            {{ form.new_password1.errors }}
                            {{ form.new_password2.errors }}
                            <div class="form-group">
                                <label for="{{ form.old_password.id_for_label }}" class="text-info" style="color:#0EA7C6;">Old password</label><br>
                                {{ form.old_password|add_class:"form-control"}}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.new_password1.id_for_label }}" class="text-info">New password:</label><br>
                                {{ form.new_password1|add_class:"form-control"}}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.new_password2.id_for_label }}" class="text-info">New password confirmation</label><br>
                                {{ form.new_password2|add_class:"form-control"}}
                            </div>
                            <div class="form-group ">

                                <input type="submit" name="submit"  class="btn btn-info btn-md" value="submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}