{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <script src="{% static 'js/details.js' %}" type="module"></script>
    <link rel='stylesheet' href="{% static 'main/details.css' %}">
    <h1 class="text-center">Job board</h1>
    <div id="details_shelter_page">
        <div id="whole_cards">

            {% for work in jobs %}
               <div class="grid-item">
        <div class="center">

  <div class="card">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
            {{ work.city }}
        </div>

      </div>
      <div class="more-info">
        <h1 id="more-info-h1">{{ work.title }}</h1>
          <div class="card-profile-info">
              <img  alt="Profile image"src="{% static "images/profile_image.png"%}">
              <p>{{ work.user.first_name }} {{ work.user.last_name }}</p>
          </div>
          <div class="card-profile-info">
              <img  alt="Profile image"src="{% static "images/phone.png"%}">
              <p>{{ work.user.phone_number }}</p>
          </div>
          <div class="card-profile-info">
              <img  alt="Profile image"src="{% static "images/email.png"%}">
              <p>nachko01@gmail.com</p>
          </div>
          <div class="card-profile-info">
              <img  alt="Profile image"src="{% static "images/calendar.png"%}">
              <p>{{ work.created_on }}</p>
          </div>
      </div>
    </div>
    <div class="general">
      <h1>{{ work.title }}</h1>
      <p>{{ work.description }}</p>
{#      <span class="more">Mouse over the card for more info</span>#}
    </div>
      <div id="help-div">
          <ul>
              <li>Amount of compensation: {{ work.money }}</li>
              <li>Type of compensation: {{ work.compensation }}</li>
          </ul>
      </div>
  </div>

</div>
    </div>
            {% endfor %}

</div>
    </div>
{% endblock %}