{% extends 'base.html' %}
{% load static %}

{% block static_files %}
     <link rel='stylesheet' href="{% static 'main/edit_job.css' %}">
{% endblock %}

{% block page_content %}
    <div id="edit-job-page">>
    <h3 class="text-center">Edit job</h3>
    <div id="shelter-infomation-box">
        <div id="shelter-creation-form">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"></h3>
                    <form method="POST" action="{% url 'edit job' object.pk%}" >
                {% csrf_token %}

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}">Title</label>
                    {{ form.title }}
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                      {{ form.compensation.errors }}
                        <label for="{{ form.compensation.id_for_label }}">Type of compensation</label>
                      {{ form.compensation }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    {{ form.city.errors }}
                        <label for="{{ form.city.id_for_label }}">City</label>
                      {{ form.city }}
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                      {{ form.money.errors }}
                        <label for="{{ form.money.id_for_label }}">Amount of compensation</label>
                      {{ form.money }}
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                      {{ form.description.errors }}
                        <label for="{{ form.description.id_for_label }}">Description</label>
                      {{ form.description}}
                  </div>
                </div>


              </div>
                  <div class="mt-4 pt-2" id="submit-register-form">
                      <input class="btn btn-primary btn-lg" style="color:#000000;" id="submit-register-form-btn" type="submit" value="Submit" />
                  </div>
            </form>
                </div>
            </div>
        </div>
    </div>
        </div>
{#    <h1 class="text-center">Edit shelter</h1>#}
{#    <div class="row">#}
{#        <div class="col-lg-3"></div>#}
{#        <div class="col-lg-6">#}
{#            <form method="post" action="{% url 'edit job' object.pk %}">#}
{#                {% csrf_token %}#}
{#                {{ form }}#}
{##}
{#                <button class="btn btn-primary mt-2" type="submit">Edit</button>#}
{#            </form>#}
{#        </div>#}
{#        <div class="col-lg-3"></div>#}
{#    </div>#}
{% endblock %}