{% extends 'base.html' %}
{% load static %}
{% block static_files %}
        <link rel="stylesheet" href="{% static 'main/find_help_info.css' %}">
{% endblock %}
{% block page_content %}

<div id="find-help-info-main">
    <div class="main-find-help-divs" id="find-help-left">
        <div class="row">
            <div class="bubble-div">
                <div class="help-bubble">
                    <p>1</p>
                </div>
            </div>
            <div class="help-info">
                <div class="info">
                    <h3>Find shelter</h3>
                    <p>You can look at the announced offers of people, who want to help you, and find a suitable shelter while you get on your feet. The service is provided in good faith and completely free of charge.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bubble-div">
                <div class="help-bubble">
                    <p>2</p>
                </div>
            </div>
            <div class="help-info">
                <div class="info">
                    <h3>Earn some money</h3>
                    <p>You will have the opportunity to view job offers of all kinds and contact the creator. Depending on the conditions, you will receive a fixed remuneration for the work done or an hourly wage.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bubble-div">
                <div class="help-bubble">
                    <p>3</p>
                </div>
            </div>
            <div class="help-info">
                <div class="info">
                    <h3>Additional help</h3>
                    <p>Upon registration you will be asked to fill out a survey,so we can see if you need any vital goods. Depending on the answers, we will organize different campaigns, and the collected goods will be distributed among who need it.</p>
                </div>
            </div>
        </div>
        <div id="button-register-help">
            <div id="find-help-btn">
                <div id="btn">
                    <a id="btn_register" href="{% url 'register as' %}">REGISTER</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-find-help-divs" id="find-help-right">
        <img  alt="background image" src="{% static 'images/find_help_info.png'%}">
    </div>
</div>
{% endblock %}