body{
    background: transparent linear-gradient(0deg, #019ACA 0%, #4AE6AD 100%) 0% 0% no-repeat padding-box;
    height: 100%;
    background-attachment: fixed;
}

#edit-job-page{
    position: relative;
    top: 100px;
}
h3{
    font: normal normal bold 48px/65px Open Sans;
    letter-spacing: 0px;
    position: relative;
    color: #000000;
    opacity: 1;
    margin-bottom: 40px;
}
#shelter-infomation-box{
    position: relative;
    width: 50%;
    margin: auto;
}

#submit-register-form{
    position: relative;
    width: 100%;
    text-align: center;
}

#submit-register-form-btn{
    top: 904px;
    left: 384px;
    width: 271px;
    height: 73px;
    background: #0EA7C6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
    opacity: 1;
    font: normal normal 600 25px/34px Open Sans;
    letter-spacing: 0px;
}



#checkbox-right{
    /*border-style: solid;*/
    /*border-width: 1px;*/
    position: relative;
    max-width: 25%;
    top: -120px;
    left: 250px;
}
#checkbox-left{
    position: relative;
    max-width: 25%;
    top: 40px;
    left: 40px;
    font-size: 15px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*padding: 50px;*/
}
.checkbox-shelter {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    width: 20%;
    margin-bottom: 15px;
}
.checkbox-lable{
    position: relative;
    text-align:left;
    width: 100px;
    top: 2px;
    left: 3px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}
.checkbox-input{
    width: 45px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}
#shelter-checkbox-create{
    /*border-style: solid;*/
    /*border-width: 1px;*/
}
