{% extends 'base.html' %}
{% load static %}

{% block static_files %}
    <link rel='stylesheet' href="{% static 'main/details.css' %}">
{% endblock %}
{% block page_content %}

    <h1 class="text-center">Shelter board</h1>
    <div id="details_shelter_page">
        <div id="whole_cards">
            {% for shelt in shelter %}
            <div class="grid-item">
                 <div class="center">
                    <div class="card">
                        <div class="additional">
                          <div class="user-card">
                            <div class="level center">
                                {{ shelt.city }}
                            </div>
                        </div>
                        <div class="more-info">
                            <h1 id="more-info-h1">{{ shelt.title }}</h1>
                              <div class="card-profile-info">
                                  <img  alt="Profile image"src="{% static "images/profile_image.png"%}">
                                  <p>{{ shelt.user.first_name }} {{ shelt.user.last_name }}</p>
                              </div>
                              <div class="card-profile-info">
                                  <img  alt="Profile image"src="{% static "images/phone.png"%}">
                                  <p>{{ shelt.user.phone_number }}</p>
                              </div>
                              <div class="card-profile-info">
                                  <img  alt="Profile image"src="{% static "images/email.png"%}">
                                  <p>nachko01@gmail.com</p>
                              </div>
                              <div class="card-profile-info">
                                  <img  alt="Profile image"src="{% static "images/calendar.png"%}">
                                  <p>{{ shelt.created_on }}</p>
                              </div>
                          </div>
                        </div>
                        <div class="general">
                          <h1>{{ shelt.title }}</h1>
                          <p>{{ shelt.description }}</p>
                        </div>
                          <div id="help-div">
                              <ul>
                                  {% if shelt.ppl_number %}
                                    <li>Number of people: {{ shelt.ppl_number }}</li>
                                  {% endif %}
                                    {% if shelt.room_number %}
                                    <li>Room number: {{ shelt.room_number }}</li>
                                  {% endif %}
                                  {% if shelt.has_wc %}
                                    <li>WC</li>
                                  {% endif %}
                                  {% if shelt.has_net %}
                                    <li>Net</li>
                                  {% endif %}
                                  {% if shelt.has_kitchen %}
                                    <li>Kitchen</li>
                                  {% endif %}
                                  {% if shelt.has_tv %}
                                    <li>TV</li>
                                  {% endif %}
                                  {% if shelt.has_garage %}
                                    <li>Garage</li>
                                  {% endif %}
                              </ul>
                          </div>
                    </div>
                 </div>
             </div>
            {% endfor %}
        </div>
    </div>
    <nav class="pagination-nav" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>

{#    <div class="pagination">#}
{#        <nav aria-label="..." class="pagination-nav">#}
{#          <ul class="pagination">#}
{#              {% if page_obj.has_previous %}#}
{#            <li class="page-item ">#}
{#              <a class="page-link" href="#" tabindex="-1">Previous</a>#}
{#            </li>#}
{#              {% else %}#}
{#            <li class="page-item disabled">#}
{#              <a class="page-link" href="#" tabindex="-1">Previous</a>#}
{#            </li>#}
{#              {% endif %}#}
{#            <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#            <li class="page-item active">#}
{#              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#            <li class="page-item">#}
{#              <a class="page-link" href="#">Next</a>#}
{#            </li>#}
{#          </ul>#}
{#        </nav>#}
{#    </div>#}



{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page=1">&laquo; first</a>#}
{#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}
{% endblock %}