{% extends 'base.html'%}

{% load static %}
{% block static_files %}
    <link rel='stylesheet' href="{% static 'main/generic/logged_home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block page_content %}

     <div class="cont-register-as">
    </div>

    <div class="bg-register-as">
        <div id="provide-help-background-image1">

        </div>
    </div>
    <div class="row">
        <div class="col-5 description-container" >
            <h1>Let's get it started!</h1>
            <p>I'm so glad to see you here! This means that they care about others, and this is very important in moments like this. If you are still wondering how you can join our mission, you can click on the button below and view more detailed information.</p>
            <div class="btn_register">
{#                <div>#}
                    <a id="btn_register4" href="{% url 'register as' %}">MORE INFORMATION</a>
{#                    </div>#}
            </div>
        </div>
        <div class="col-7 ">
            <img src="{% static 'images/logged_home.png' %}">
        </div>
    </div>
{% endblock %}